*{
    margin: 0;
    padding: 0;
}
h1{
    color: yellow;
}
img{
    width: 300px;

}

.mango{
    color: blue;
}
.food{
    background-color: greenyellow;
}
#sample{
    background-color: burlywood;
    /* border-color:3px rgb(red, green, blue); solid; */
    border:5px maroon solid;
}
.first{
    border-style: dotted;
    margin: 20px 30px;
    padding: 40px;
}

/* My flex box properties */
/* .container{
    background-color: aqua;
} */
.child{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
/* second child */
.secondchild{
    border: 3px blue solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-items{
    border: 2px orangered solid;
    margin: 5px;
    height: 80px;
    width: 50px;
}
.mine{
    color: blue;
}
/* last child */
.last{
    border: 1px grey solid;
    display: flex;
}

.img{
    width: 3opx;
    border-radius: 50%;

}

    /* bootstrap */
.hajjirah{
    background-color: yellowgreen;
}
